<h2><%= User.count %> Records</h2>
<%= form_tag users_path,:method => 'get' do %>
<fieldset>
 <%= text_field_tag :search %>
 <%= submit_tag 'Search',class: :button %>
<%end %>
</fieldset>
<h1>Listing users <%= @users.count %></h1>

<table>
  <thead>
    <tr>
      <th width="300">Name</th>
      <th width="200">Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
